@import "variabels";

body{
  background-color: $grey1;
}

.grid{
  display: grid;
  grid-template-areas:
    "bio fe be"
    "bio projects projects"
    "bio projects projects"
    "experience projects projects"
    "experience projects projects"
    "hobbies blogs blogs"
    "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding: 1.5rem;
}

.biography-area{
  grid-area: bio;
}

.fe-skill-area{
  grid-area: fe;
}

.be-skill-area{
  grid-area: be;
}

.experience-area{
  grid-area: experience;
}

.projects-area{
  grid-area: projects;
}
.hobbies-area{
  grid-area: hobbies;
}
.footer-area{
  grid-area: footer;
}

.blogs-area{
  grid-area: blogs;
}
