@import "../variabels";
@import "../fonts";

section{
  background-color: $white1;
  border-radius: 1rem;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
}

h5{
  margin: 0;
  font-weight: 600;
  font-size: 1.3rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
h6{
  margin:0;
  font-weight: 400;
  font-size: 1rem;
  color: $grey3;
  padding-bottom: 1rem;

}

.img{
  background-image: url("../../assets/person.png");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 800px;
  height: 15rem;
  border-radius: 1rem;
}
