<section>
  <div class="img"></div>
  <h5>Billy Pearson</h5>
  <h6>Front-end developer</h6>
  <div>
    <div>icon</div>
    <div>email</div>
  </div>
  <div>
    <div>icon</div>
    <div>phone</div>
  </div>
  <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper, nunc fermentum sollicitudin vestibulum, nunc metus molestie libero, non sollicitudin elit urna ut metus. Mauris turpis dolor, porttitor non porta in, ultricies nec dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit eros iaculis libero scelerisque consectetur. </article>

</section>
