@import "../../variabels";

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "blog-info blog-img"
    "blog-redirect-area .";
  background-color: $white1;
  border-radius: $component-bradius;
  padding: 1rem 0 1rem 1rem;
  font-family: 'Montserrat', sans-serif;

  @media only screen and (max-width: $medium) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "blog-img"
      "blog-info"
      "blog-redirect-area";
  }
}

.blog-img-area{
  grid-area: blog-img;
}
.blog-info-area{
  grid-area: blog-info;
}
.blog-redirect-area{
  grid-area: blog-redirect-area;
}

.blog--image{
  background-image: url("../../../assets/blog.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  height: 1fr;
}
a{
  color: $blue1;
  padding-top: 1rem;
  cursor: pointer;
}
.blog-description{
  color: $grey3;
}

h6{
  color: $grey6;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

h3{
  color: $grey5;
  font-size: 1.5rem;
  font-weight: 500;
  width: 11rem;
}
